b64==0.4
beautifulsoup4==4.12.3
bs4==0.0.2
cached-properties==0.7.4
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
configparser==7.0.0
idna==3.7
lxml==5.2.2
requests==2.32.3
soupsieve==2.5
urllib3==2.2.2
